<h2>Hello, <%= current_user.email %>!</h2>

<% if @rating.rating_value == nil %>
  <h3>You haven't rated <%= @game.name %> yet!</h3>
  <%= link_to 'Click Here to Rate it', user_rating_path %>
  <% else %>
  <h3>You rated <%= @game.name %> a </h3>
<% end %>
